.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:350px;
    position: relative;

    .image {
        height: 95%;
        width:100%;
        background-size:cover;
    }

    button {
        width:80%;
        height:4em;
        line-height:4em;
        font-size: 1rem;
        background-color:rgba(255,255,255,0.5);
        position: absolute;
        bottom:5em;
        border:none;
        display:none;
        text-transform: uppercase;
    }

    &:hover {
        button {
            display:block;
            cursor: pointer;

            &:hover {
                color:white;
                background-color:black;
            }
        }
    }

    p {
        display:flex;
        width:100%;
        justify-content: space-between;
    }
}